@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="mainView">
        <button type="button" class="btn btn-primary btn-lg" onclick="loadBookListView()">Load list of books</button>
</div>