<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Firstname</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="firstname-input">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Lastname</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="lastname-input">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Contact number</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="contact-number-input">
</div>

<button type="button" class="btn btn-primary btn-lg" onclick="loadBookListView()">Back to the list</button>

<button type="button" class="btn btn-success btn-lg" onclick="addClient()">Save</button>