<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Title</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="title-input">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Author</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="author-input">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Category</span>
    </div>
    <input type="text" class="form-control" aria-describedby="basic-addon1" id="category-input">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Date published (day/month/year)</span>
    </div>
    <input type="text" class="form-control" placeholder="eg. 26/5/2004" aria-describedby="basic-addon1" id="date-input">
</div>

<button type="button" class="btn btn-primary btn-lg" onclick="loadBookListView()">Back to the list</button>

<button type="button" class="btn btn-primary btn-lg" onclick="addBook()">Save</button>
